/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&r_i2c>;
		__overlay__ {
			axp22x: pmic@34 {
				compatible = "x-powers,axp221";
				reg = <0x34>;
				interrupt-parent = <&r_intc>;
				interrupts = <0 8>;
			};
		};
	};

	fragment@1 {
		target = <&axp22x>;
		__overlay__ {
			interrupt-controller;
			#interrupt-cells = <1>;

			ac_power_supply: ac-power-supply {
				compatible = "x-powers,axp221-ac-power-supply";
				status = "disabled";
			};

			battery_power_supply: battery-power-supply {
				compatible = "x-powers,axp221-battery-power-supply";
				status = "disabled";
			};

			regulators {
				/* Default work frequency for buck regulators */
				x-powers,dcdc-freq = <3000>;

				reg_dcdc1: dcdc1 {
					regulator-name = "dcdc1";
				};

				reg_dcdc2: dcdc2 {
					regulator-name = "dcdc2";
				};

				reg_dcdc3: dcdc3 {
					regulator-name = "dcdc3";
				};

				reg_dcdc4: dcdc4 {
					regulator-name = "dcdc4";
				};

				reg_dcdc5: dcdc5 {
					regulator-name = "dcdc5";
				};

				reg_dc1sw: dc1sw {
					regulator-name = "dc1sw";
				};

				reg_dc5ldo: dc5ldo {
					regulator-name = "dc5ldo";
				};

				reg_aldo1: aldo1 {
					regulator-name = "aldo1";
				};

				reg_aldo2: aldo2 {
					regulator-name = "aldo2";
				};

				reg_aldo3: aldo3 {
					regulator-name = "aldo3";
				};

				reg_dldo1: dldo1 {
					regulator-name = "dldo1";
				};

				reg_dldo2: dldo2 {
					regulator-name = "dldo2";
				};

				reg_dldo3: dldo3 {
					regulator-name = "dldo3";
				};

				reg_dldo4: dldo4 {
					regulator-name = "dldo4";
				};

				reg_eldo1: eldo1 {
					regulator-name = "eldo1";
				};

				reg_eldo2: eldo2 {
					regulator-name = "eldo2";
				};

				reg_eldo3: eldo3 {
					regulator-name = "eldo3";
				};

				reg_ldo_io0: ldo_io0 {
					regulator-name = "ldo_io0";
					status = "disabled";
				};

				reg_ldo_io1: ldo_io1 {
					regulator-name = "ldo_io1";
					status = "disabled";
				};

				reg_rtc_ldo: rtc_ldo {
					/* RTC_LDO is a fixed, always-on regulator */
					regulator-always-on;
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-name = "rtc_ldo";
				};

				reg_drivevbus: drivevbus {
					regulator-name = "drivevbus";
					status = "disabled";
				};
			};

			usb_power_supply: usb_power_supply {
				compatible = "x-powers,axp221-usb-power-supply";
				status = "disabled";
			};
		};
	};

	fragment@2 {
		target = <&i2s1>;
		__overlay__ {
			status = "okay";
			pinctrl-0 = <&i2s1_pins>;
			sound-dai = <&wm8960>;
			pinctrl-names = "default";
		};
	};

	fragment@3 {
		target-path = "/";
		__overlay__ {
			wm8960_mclk: wm8960_mclk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <12288000>;
			};

			sound_i2s {
				compatible = "simple-audio-card";
				simple-audio-card,name = "wm8960-soundcard";
				simple-audio-card,mclk-fs = <256>;
				simple-audio-card,format = "i2s";
				status = "okay";
				simple-audio-card,widgets =
					"Microphone", "Mic Jack",
					"Line", "Line In",
					"Line", "Line Out",
					"Speaker", "Speaker",
					"Headphone", "Headphone Jack";
				simple-audio-card,routing =
					"Headphone Jack", "HP_L",
					"Headphone Jack", "HP_R",
					"Speaker", "SPK_LP",
					"Speaker", "SPK_LN",
					"LINPUT1", "Mic Jack",
					"LINPUT3", "Mic Jack",
					"RINPUT1", "Mic Jack",
					"RINPUT2", "Mic Jack";

				simple-audio-card,cpu {
					sound-dai = <&i2s1>;
				};
				dailink0_slave: simple-audio-card,codec {
					sound-dai = <&wm8960>;
					clocks = <&wm8960_mclk>;
					clock-names = "mclk";
				};
			};
		};
	};

    fragment@4 {
		target = <&i2c0>;
		__overlay__ {
			status = "okay";	/* PA11, PA12 */
			#address-cells = <1>;
			#size-cells = <0>;

			wm8960: wm8960 {
				compatible = "wlf,wm8960";
				reg = <0x1a>;
				#sound-dai-cells = <0>;
/*				AVDD-supply = <&vdd_5v0_reg>;  */
/*				DVDD-supply = <&vdd_3v3_reg>;  */
				status = "okay";
			};
		};
	};

	fragment@5 {
		target = <&i2s2>;
		__overlay__ {
			status = "okay";
		};
	};

};
